html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
}

.page-section {
    position: relative;
    min-height: 100vh;
    background-image: url('../images/pageBg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 74px 0 50px;
}

.container {
    max-width: 1270px;
    padding: 0, 15px;
    margin: 0 auto;
}

.title {

}

.scroll {
    padding: 13px 0 30px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}